Backup N8N Credentials.json
{"updatedAt":"2026-03-05T11:42:44.291Z","createdAt":"2026-03-05T06:10:27.850Z","id":"BclC9Ac2oT9p0Z4mJVcXk","name":"Backup N8N Credentials","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,56],"id":"2a43a2ee-9a1d-4d85-9a6f-9ecf9c1b08b2","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"folder","name":"=credentials_{{ $now.format('yyyy-MM-dd_HHmmss') }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1SBM_HMAsaJgpBLZO_4f6q4D-EAoi5uU3","mode":"list","cachedResultName":"n8n_creds","cachedResultUrl":"https://drive.google.com/drive/folders/1SBM_HMAsaJgpBLZO_4f6q4D-EAoi5uU3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-64,56],"id":"53114bb6-63af-4559-8151-4b5ddfedef3c","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"nOpNeVpeMOCiJIFF","name":"Google Drive account"}}},{"parameters":{"command":"n8n export:credentials --all --decrypted"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,56],"id":"c83b0085-a720-4b40-aec4-eeb8bf1a1533","name":"Execute Command"},{"parameters":{"assignments":{"assignments":[{"id":"abef1503-b39e-4c72-ba4f-3fafd7454127","name":"creds","value":"={{ $input.first().json.stdout }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,56],"id":"aa3cecf0-889f-4d47-b13b-3303d545dbe1","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"creds","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[608,56],"id":"0cd1437f-5dd2-4e6f-94e6-8f6e634b186a","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,56],"id":"e2e48975-986d-43ef-8fb6-f6171351c118","name":"Loop Over Items"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1056,-16],"id":"67570893-2b7d-480b-9c79-19bc25f0be7f","name":"Convert to File"},{"parameters":{"inputDataFieldName":"=data","name":"={{$binary.data.fileName}}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1280,56],"id":"364d4513-23d5-4c29-803d-4ff4f9d77def","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"nOpNeVpeMOCiJIFF","name":"Google Drive account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f233292-9677-4e82-b3aa-0fb7c77a1c0b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T06:10:27.864Z","createdAt":"2026-03-05T06:10:27.864Z","role":"workflow:owner","workflowId":"BclC9Ac2oT9p0Z4mJVcXk","projectId":"ayjawjCb77l9xYxE"}],"activeVersion":null,"tags":[]}